body {
  background: radial-gradient(
    circle at top left,
    #ffffff,  /* light color */
    #5b85c4,
    #002d6c  /* darker color */
  );
}
    body { font-family: Arial, sans-serif; text-align: center; }
    .found { fill: rgb(52, 103, 52) !important; }
    input { padding: 10px; width: 300px; font-size: 16px; }
    #score { margin-top: 10px; }
  
#statusBar {
  display: flex;
  justify-content: space-between;  /* spreads them out */
  align-items: baseline;           /* aligns numbers/text to text baseline */
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 20px;
}

#buttonRow {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 10px;
}

.country-grid {
  flex: shrink;
  overflow: visible;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  align-content: start;
}

@keyframes flashYellow {
  0%, 100% { fill: #ffee00;}
}

.flash-missed {
  animation: flashYellow 1s ease-in-out 3;
}


.country-grid .country {
  display: inline-block;
  width: FLEX;
  border: 1px solid #ccc;
  padding: 2px 4px;
  text-align: center;
  font-size: 9px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-height: 8px;
  box-sizing: content-box;
}

#beginButton {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  background-color: #07d300;
  color: white;
  border: ;
  border-radius: 4px;
}

#beginButton:hover {
    background-color: #079502;
}

#giveUpButton {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  background-color: #ff1900;
  color: white;
  border: ;
  border-radius: 4px;
}

#giveUpButton:hover {
  background-color: #cc1400;
}
#whatamimissingButton {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  background-color: #ffee00;
  color: rgb(0, 0, 0);
  border: ;
  border-radius: 4px;
}

#whatamimissingButton:hover {
  background-color: #e0d100;
}

#restartButton {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  background-color: #0099ff;
  color: white;
  border: ;
  border-radius: 4px;
  margin-left: 0px;
  
}

#restartButton:hover {
  background-color: #007fd3;
}

.country-grid .country.found {
  background-color: rgb(81, 221, 81);
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  border-color: #216324;
}

#mainContainer {
  height: flex;
  display: flex;
  gap: 20px;
}

#mapContainer svg {
  width: auto;
  height: auto;
  display: flex;
  border: 2px solid #000000;
  border-radius: px;
  background-color: #549aad;
}

#mapContainer.grayed svg {
  opacity: 0.3;
  pointer-events: none;
  filter: grayscale(100%);
}

#instructions {
  width:auto;
  height: auto;
  border: 2px 2px solid #000000;
  border-radius: 8px;
}

#tableContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: visible; /* prevent scrollbars */
}